<a href="https://colab.research.google.com/github/Utkarsha1a/Bank-Customer-Churn-Prediction/blob/main/PredictCustomer_Will_Leave_the_Bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bank-Customer-Churn-Prediction
As we know, it is much more expensive to sign in a new client than to keep an existing one.It is advantageous for banks to know what leads a client towards the decision to leave the company.

##What is churn prediction in banking?

Retail banking churn prediction is an AI-based model that helps to predict the likelihood of a customer leaving the bank or becoming dormant.

##Why do bank customers churn?

Poor service is the #1 reason for bank customer churn Branch locations = Bank should be near to our home 24/7 customer service Should provide offers on shopping.

In this repository, we use customer data from a bank to construct a predictive model for the likely churn clients

The features or variables are the following:

customer_id, unused variable.

credit_score, used as input.

country, used as input.

gender, used as input.

age, used as input.

tenure, used as input.

balance, used as input.

products_number, used as input.

credit_card, used as input.

active_member, used as input.

estimated_salary, used as input.

churn, used as the target. 1 if the client has left the bank during some period or 0 if he/she has not.

In [ ]:
# Part 1 - Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving BankCustomers.csv to BankCustomers.csv

In [ ]:
# Importing the dataset
dataset = pd.read_csv('BankCustomers.csv')

In [ ]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
dataset=dataset.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [ ]:
# convert categorical feature into dummy variables
states=pd.get_dummies(dataset['Geography'],drop_first=True)
gender=pd.get_dummies(dataset['Gender'],drop_first=True)

In [ ]:
states.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [ ]:
#drop the columns as it is no longer required

dataset=dataset.drop(['Geography','Gender'],axis=1)

#concatenate the remaining dummies columns
dataset=pd.concat([dataset,states,gender],axis=1)

In [ ]:
dataset.head()

   CreditScore  Age  Tenure    Balance  ...  Exited  Germany  Spain  Male
0          619   42       2       0.00  ...       1        0      0     0
1          608   41       1   83807.86  ...       0        0      1     0
2          502   42       8  159660.80  ...       1        0      0     0
3          699   39       1       0.00  ...       0        0      0     0
4          850   43       2  125510.82  ...       0        0      1     0

[5 rows x 12 columns]

In [ ]:
X = dataset.drop(['Exited'],axis=1)

In [ ]:
y=dataset['Exited']

In [ ]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
X

array([[6.1900000e+02, 4.2000000e+01, 2.0000000e+00, ..., 1.0134888e+05,
        1.0000000e+00, 0.0000000e+00],
       [6.0800000e+02, 4.1000000e+01, 1.0000000e+00, ..., 1.1254258e+05,
        0.0000000e+00, 0.0000000e+00],
       [5.0200000e+02, 4.2000000e+01, 8.0000000e+00, ..., 1.1393157e+05,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [7.0900000e+02, 3.6000000e+01, 7.0000000e+00, ..., 4.2085580e+04,
        1.0000000e+00, 0.0000000e+00],
       [7.7200000e+02, 4.2000000e+01, 3.0000000e+00, ..., 9.2888520e+04,
        1.0000000e+00, 1.0000000e+00],
       [7.9200000e+02, 2.8000000e+01, 4.0000000e+00, ..., 3.8190780e+04,
        0.0000000e+00, 0.0000000e+00]])

In [ ]:
X.shape

(10000, 11)

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:

# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

In [ ]:

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform"))

# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

WARNING:tensorflow:The `nb_epoch` argument in `fit` has been renamed `epochs`.
Train on 8000 samples
Epoch 1/100
8000/8000 [==============================] - 2s 270us/sample - loss: 0.4918 - accuracy: 0.7952
Epoch 2/100
8000/8000 [==============================] - 2s 196us/sample - loss: 0.4301 - accuracy: 0.7960
Epoch 3/100
8000/8000 [==============================] - 2s 193us/sample - loss: 0.4250 - accuracy: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s 182us/sample - loss: 0.4208 - accuracy: 0.8001
Epoch 5/100
8000/8000 [==============================] - 1s 172us/sample - loss: 0.4178 - accuracy: 0.8219
Epoch 6/100
8000/8000 [==============================] - 2s 208us/sample - loss: 0.4157 - accuracy: 0.8271
Epoch 7/100
8000/8000 [==============================] - 2s 220us/sample - loss: 0.4143 - accuracy: 0.8290
Epoch 8/100
8000/8000 [==============================] - 2s 212us/sample - loss: 0.4127 - accuracy: 0.8322
Epoch 9/100
8000/8000 [==============================] - 2s 199us/sample - loss: 0.4119 - accuracy: 0.8321
Epoch 10/100
8000/8000 [==============================] - 2s 210us/sample - loss: 0.4110 - accuracy: 0.8330
Epoch 11/100
8000/8000 [==============================] - 2s 205us/sample - loss: 0.4101 - accuracy: 0.8329
Epoch 12/100
8000/8000 [==============================] - 2s 196us/sample - loss: 0.4093 - accuracy: 0.8349
Epoch 13/100
8000/8000 [==============================] - 1s 183us/sample - loss: 0.4089 - accuracy: 0.8345
Epoch 14/100
8000/8000 [==============================] - 2s 191us/sample - loss: 0.4081 - accuracy: 0.8341
Epoch 15/100
8000/8000 [==============================] - 1s 184us/sample - loss: 0.4076 - accuracy: 0.8341
Epoch 16/100
8000/8000 [==============================] - 1s 177us/sample - loss: 0.4072 - accuracy: 0.8342
Epoch 17/100
8000/8000 [==============================] - 2s 217us/sample - loss: 0.4072 - accuracy: 0.8354
Epoch 18/100
8000/8000 [==============================] - 1s 183us/sample - loss: 0.4067 - accuracy: 0.8340
Epoch 19/100
8000/8000 [==============================] - 2s 193us/sample - loss: 0.4063 - accuracy: 0.8325
Epoch 20/100
8000/8000 [==============================] - 2s 195us/sample - loss: 0.4061 - accuracy: 0.8347
Epoch 21/100
8000/8000 [==============================] - 1s 184us/sample - loss: 0.4044 - accuracy: 0.8346
Epoch 22/100
8000/8000 [==============================] - 1s 181us/sample - loss: 0.4052 - accuracy: 0.8332
Epoch 23/100
8000/8000 [==============================] - 1s 180us/sample - loss: 0.4048 - accuracy: 0.8324
Epoch 24/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.4041 - accuracy: 0.8340
Epoch 25/100
8000/8000 [==============================] - 1s 182us/sample - loss: 0.4047 - accuracy: 0.8342
Epoch 26/100
8000/8000 [==============================] - 1s 181us/sample - loss: 0.4038 - accuracy: 0.8325
Epoch 27/100
8000/8000 [==============================] - 2s 198us/sample - loss: 0.4040 - accuracy: 0.8350
Epoch 28/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.4038 - accuracy: 0.8347
Epoch 29/100
8000/8000 [==============================] - 1s 184us/sample - loss: 0.4037 - accuracy: 0.8336
Epoch 30/100
8000/8000 [==============================] - 2s 194us/sample - loss: 0.4035 - accuracy: 0.8345
Epoch 31/100
8000/8000 [==============================] - 1s 185us/sample - loss: 0.4031 - accuracy: 0.8335
Epoch 32/100
8000/8000 [==============================] - 1s 171us/sample - loss: 0.4032 - accuracy: 0.8350
Epoch 33/100
8000/8000 [==============================] - 1s 181us/sample - loss: 0.4030 - accuracy: 0.8329
Epoch 34/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.4025 - accuracy: 0.8347
Epoch 35/100
8000/8000 [==============================] - 1s 183us/sample - loss: 0.4026 - accuracy: 0.8363
Epoch 36/100
8000/8000 [==============================] - 1s 178us/sample - loss: 0.4031 - accuracy: 0.8350
Epoch 37/100
8000/8000 [==============================] - 1s 183us/sample - loss: 0.4026 - accuracy: 0.8342
Epoch 38/100
8000/8000 [==============================] - 2s 191us/sample - loss: 0.4025 - accuracy: 0.8353
Epoch 39/100
8000/8000 [==============================] - 2s 190us/sample - loss: 0.4019 - accuracy: 0.8342
Epoch 40/100
8000/8000 [==============================] - 2s 191us/sample - loss: 0.4023 - accuracy: 0.8344
Epoch 41/100
8000/8000 [==============================] - 1s 181us/sample - loss: 0.4021 - accuracy: 0.8346
Epoch 42/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.4021 - accuracy: 0.8342
Epoch 43/100
8000/8000 [==============================] - 1s 183us/sample - loss: 0.4022 - accuracy: 0.8341
Epoch 44/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.4019 - accuracy: 0.8346
Epoch 45/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.4021 - accuracy: 0.8349
Epoch 46/100
8000/8000 [==============================] - 1s 179us/sample - loss: 0.4017 - accuracy: 0.8364
Epoch 47/100
8000/8000 [==============================] - 2s 197us/sample - loss: 0.4019 - accuracy: 0.8334
Epoch 48/100
8000/8000 [==============================] - 2s 207us/sample - loss: 0.4017 - accuracy: 0.8331
Epoch 49/100
8000/8000 [==============================] - 2s 194us/sample - loss: 0.4012 - accuracy: 0.8363
Epoch 50/100
8000/8000 [==============================] - 2s 197us/sample - loss: 0.4015 - accuracy: 0.8353
Epoch 51/100
8000/8000 [==============================] - 1s 184us/sample - loss: 0.4010 - accuracy: 0.8353
Epoch 52/100
8000/8000 [==============================] - 1s 181us/sample - loss: 0.4014 - accuracy: 0.8370
Epoch 53/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.4011 - accuracy: 0.8351
Epoch 54/100
8000/8000 [==============================] - 2s 196us/sample - loss: 0.4010 - accuracy: 0.8356
Epoch 55/100
8000/8000 [==============================] - 1s 180us/sample - loss: 0.4010 - accuracy: 0.8360
Epoch 56/100
8000/8000 [==============================] - 1s 177us/sample - loss: 0.4010 - accuracy: 0.8357
Epoch 57/100
8000/8000 [==============================] - 2s 201us/sample - loss: 0.4011 - accuracy: 0.8347
Epoch 58/100
8000/8000 [==============================] - 1s 182us/sample - loss: 0.4007 - accuracy: 0.8355
Epoch 59/100
8000/8000 [==============================] - 1s 182us/sample - loss: 0.4005 - accuracy: 0.8345
Epoch 60/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.4006 - accuracy: 0.8355
Epoch 61/100
8000/8000 [==============================] - 1s 182us/sample - loss: 0.4004 - accuracy: 0.8353
Epoch 62/100
8000/8000 [==============================] - 1s 180us/sample - loss: 0.4007 - accuracy: 0.8363
Epoch 63/100
8000/8000 [==============================] - 1s 180us/sample - loss: 0.4007 - accuracy: 0.8340
Epoch 64/100
8000/8000 [==============================] - 1s 177us/sample - loss: 0.4004 - accuracy: 0.8346
Epoch 65/100
8000/8000 [==============================] - 1s 174us/sample - loss: 0.4006 - accuracy: 0.8346
Epoch 66/100
8000/8000 [==============================] - 1s 182us/sample - loss: 0.4006 - accuracy: 0.8364
Epoch 67/100
8000/8000 [==============================] - 2s 208us/sample - loss: 0.4002 - accuracy: 0.8353
Epoch 68/100
8000/8000 [==============================] - 2s 208us/sample - loss: 0.4003 - accuracy: 0.8359
Epoch 69/100
8000/8000 [==============================] - 1s 186us/sample - loss: 0.4005 - accuracy: 0.8349
Epoch 70/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.4003 - accuracy: 0.8359
Epoch 71/100
8000/8000 [==============================] - 1s 176us/sample - loss: 0.4004 - accuracy: 0.8359
Epoch 72/100
8000/8000 [==============================] - 1s 174us/sample - loss: 0.4007 - accuracy: 0.8341
Epoch 73/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3999 - accuracy: 0.8340
Epoch 74/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.4000 - accuracy: 0.8353
Epoch 75/100
8000/8000 [==============================] - 1s 187us/sample - loss: 0.4005 - accuracy: 0.8356
Epoch 76/100
8000/8000 [==============================] - 2s 195us/sample - loss: 0.4000 - accuracy: 0.8359
Epoch 77/100
8000/8000 [==============================] - 2s 200us/sample - loss: 0.4002 - accuracy: 0.8353
Epoch 78/100
8000/8000 [==============================] - 2s 198us/sample - loss: 0.4001 - accuracy: 0.8359
Epoch 79/100
8000/8000 [==============================] - 2s 194us/sample - loss: 0.3999 - accuracy: 0.8342
Epoch 80/100
8000/8000 [==============================] - 2s 190us/sample - loss: 0.4001 - accuracy: 0.8355
Epoch 81/100
8000/8000 [==============================] - 1s 186us/sample - loss: 0.4001 - accuracy: 0.8357
Epoch 82/100
8000/8000 [==============================] - 2s 189us/sample - loss: 0.3995 - accuracy: 0.8339
Epoch 83/100
8000/8000 [==============================] - 1s 181us/sample - loss: 0.4004 - accuracy: 0.8350
Epoch 84/100
8000/8000 [==============================] - 1s 183us/sample - loss: 0.3999 - accuracy: 0.8349
Epoch 85/100
8000/8000 [==============================] - 1s 180us/sample - loss: 0.4000 - accuracy: 0.8361
Epoch 86/100
8000/8000 [==============================] - 1s 183us/sample - loss: 0.4001 - accuracy: 0.8349
Epoch 87/100
8000/8000 [==============================] - 2s 220us/sample - loss: 0.4002 - accuracy: 0.8341
Epoch 88/100
8000/8000 [==============================] - 2s 188us/sample - loss: 0.3994 - accuracy: 0.8349
Epoch 89/100
8000/8000 [==============================] - 2s 213us/sample - loss: 0.3997 - accuracy: 0.8344
Epoch 90/100
8000/8000 [==============================] - 2s 201us/sample - loss: 0.3999 - accuracy: 0.8340
Epoch 91/100
8000/8000 [==============================] - 1s 184us/sample - loss: 0.3998 - accuracy: 0.8355
Epoch 92/100
8000/8000 [==============================] - 1s 181us/sample - loss: 0.3997 - accuracy: 0.8341
Epoch 93/100
8000/8000 [==============================] - 2s 195us/sample - loss: 0.3999 - accuracy: 0.8339
Epoch 94/100
8000/8000 [==============================] - 2s 203us/sample - loss: 0.4000 - accuracy: 0.8338
Epoch 95/100
8000/8000 [==============================] - 1s 180us/sample - loss: 0.3994 - accuracy: 0.8346
Epoch 96/100
8000/8000 [==============================] - 2s 190us/sample - loss: 0.3998 - accuracy: 0.8356
Epoch 97/100
8000/8000 [==============================] - 2s 197us/sample - loss: 0.3990 - accuracy: 0.8347
Epoch 98/100
8000/8000 [==============================] - 1s 183us/sample - loss: 0.4000 - accuracy: 0.8336
Epoch 99/100
8000/8000 [==============================] - 2s 192us/sample - loss: 0.3996 - accuracy: 0.8346
Epoch 100/100
8000/8000 [==============================] - 2s 194us/sample - loss: 0.3993 - accuracy: 0.8340

In [ ]:
# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [ ]:

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.8445